<nav class="navbar navbar-toggleable-md  navbar-inverse bg-inverse">
	<span class="navbar-brand">{{'admin_title' | translate}}</span>
	<ul class="navbar-nav">
		<li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
			<a routerLink="/" class="nav-link">{{'control_panel' | translate}}</a>
		</li>
		<li class="nav-item" routerLinkActive="active">
			<a routerLink="/calibrate" class="nav-link" >{{'webcam_calibration' | translate}}</a>
		</li>
		<li class="nav-item" routerLinkActive="active">
			<a routerLink="/log" class="nav-link" >{{'log_header' | translate}}</a>
		</li>
	</ul>
	
	
</nav>
<router-outlet></router-outlet>
