<div class="container-fluid">
	<div class="row">
		<div class="module-server col-xs-3">
			<span class="module-label">
			{{'log.module.server' | translate }} 
			</span>
		</div>
		<div class="module-front col-xs-3">
			<span class="module-label">
			{{'log.module.front_end' | translate }}  : 
			</span>
			<span [hidden]="!logger.frontEndConnected" class="status-ok ">
				<i class="fa fa-check-circle"></i>
			</span>
			<span [hidden]="logger.frontEndConnected" class="status-nok ">
				<i class="fa fa-times-circle"></i>
			</span>
		</div>
		<div class="module-webcam col-xs-3">
			<span class="module-label">
			{{'log.module.webcam' | translate }}  : 
			</span>
			<span [hidden]="!logger.webcamConnected" class="status-ok ">
				<i class="fa fa-check-circle"></i>
			</span>
			<span [hidden]="logger.webcamConnected" class="status-nok ">
				<i class="fa fa-times-circle"></i>
			</span>
		</div>
		<div class="module-admin col-xs-3">
			<span class="module-label">
			{{'log.module.admin' | translate }}  : 
			</span>
			<span [hidden]="!logger.adminConnected" class="status-ok ">
				<i class="fa fa-check-circle"></i>
			</span>
			<span [hidden]="logger.adminConnected" class="status-nok ">
				<i class="fa fa-times-circle"></i>
			</span>
		</div>
	</div>
</div>
<div class="log-entries" scroll-glue>
<app-log-entry *ngFor="let entry of logger.logEntries" [entry]="entry">
</app-log-entry>
</div>