.status-ok {
	color: #5cb85c;
}

.status-nok {
	color: #d9534f;
}

.module-front{
	background: #A7E4F7;
	.module-label{
		color: #5A97AA;
	}
} 

.module-webcam{
	background: #FFFE83;
	.module-label{
		color: #F3B136;
	}
} 

.module-server {
	background: #B1F1BD;
	.module-label{
		color: #4B8B57;
	}
} 

.module-admin {
	background: #F2E6D6;
	.module-label{
		color: #BFB3A3;
	}
} 

.log-entries {
	position: absolute;
    overflow: auto;
    top: 0;
    bottom: 0;
    margin-top: 80px;
	width: 100%;
}
