@import '../logcolors';

.status-ok {
	color: #5cb85c;
}

.status-nok {
	color: #d9534f;
}

.module-front{
	background: lighten($color-front, 30%);
	.module-label{
		color: $color-front;
	}
} 

.module-webcam{
	background: lighten($color-webcam, 30%);
	.module-label{
		color: $color-webcam;
	}
} 

.module-server {
	background: lighten($color-server, 30%);
	.module-label{
		color: $color-server;
	}
} 

.module-admin {
	background: lighten($color-admin, 30%); 
	.module-label{
		color: $color-admin;
	}
} 

.log-entries {
	position: absolute;
    overflow: auto;
    top: 0;
    bottom: 0;
    margin-top: 80px;
	width: 100%;
}
