@import '../logcolors';

.from-webcam {
	border-top: 1px solid $color-webcam;
	border-bottom: 1px solid $color-webcam;
	.entry-module-label{
		background: lighten($color-webcam, 30%);
		color: $color-webcam;
	}
	.entry-message{
		//background: lighten($color-webcam, 50%);
	}
}

.from-front {
	border-top: 1px solid $color-front;
	border-bottom: 1px solid $color-front;
	.entry-module-label{
		color: $color-front;
		background: lighten($color-front, 30%);
	}
	.entry-message{
		//background: lighten($color-front, 50%);
	}
} 

.from-server {
	border-top: 1px solid $color-server;
		border-bottom: 1px solid $color-server;
	.entry-module-label{
		background: lighten($color-server, 30%);
		color: $color-server;
	}
	.entry-message{
		//background: lighten($color-server, 50%);
	}
} 
.from-admin{
	border-top: 1px solid $color-admin;
	border-bottom: 1px solid $color-admin;
	.entry-module-label{
		background: lighten($color-admin, 30%);
		color: $color-admin;
	}
	.entry-message{
		//background: lighten($color-admin, 50%);
	}
} 
.log-entry {
	display: flex;
	width: 100%;
	overflow-x: hidden;
	.entry-module-label{
		font-weight: 400;
		min-width: 150px;
		text-align: center;
		display: flex;
		&>div {
			align-self: center;
			width: 100%;
		}
	}
	.entry-message{
		font-size: 0.8em;
		font-family: "Courier New", Courier, monospace;
		padding: 10px;
		width: 100%;
		&.error-message {
			background: #E1A4A4;
		}
		.log-date {
			margin: 0 10px 0 0;
		}
	}
}

/*
http://www.hexcolortool.com/
#F3B136
#5A97AA
#4B8B57
#F2E6D6
#C0C0C0*/