<div [ngClass]="{
	'from-webcam': entry.module == LogModule.CameraCapture,
	'from-front': entry.module == LogModule.FrontEnd,
	'from-admin': entry.module == LogModule.Admin,
	'from-server': entry.module == LogModule.Server
 }" class="log-entry">
 <div class="entry-module-label">
	<div *ngIf="entry.module == LogModule.CameraCapture">[ {{'log.module.webcam' | translate }}  ]</div>
	<div *ngIf="entry.module == LogModule.FrontEnd">[ {{'log.module.front_end' | translate }} ]</div>
	<div *ngIf="entry.module == LogModule.Admin">[ {{'log.module.admin' | translate }}  ]</div>
	<div *ngIf="entry.module == LogModule.Server">[ {{'log.module.server' | translate }} ]</div>
 </div>
 <div class="entry-message" [ngClass] = "{
	'error-message': entry.logLevel == LogLevel.Error,
	'warning-message': entry.logLevel == LogLevel.Warning
	}"><span class="log-date"><code>{{entry.time | date: 'HH:mm:ss'}}</code></span>{{entry.message}}</div>
</div>