.client-status {
	font-size: 1.2em;
}

.status-ok {
	color: #5cb85c;
}

.status-nok {
	color: #d9534f;
}

.refresh-button {
	cursor: pointer;
}

.camera-message {
	white-space: pre;
	max-height: 200px;
	overflow: auto;
	font-size: 0.8em;
	margin: 10px;
}

.main-container {
	margin-top: 25px;
}
.card {
	margin-top: 10px;
	margin-bottom: 10px;
	.container, .container-fluid {
		margin-top: 15px;
		margin-bottom: 15px;
		.row {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
} 

.card-printer {
	.refresh-button {
		margin: 0 10px;
	}
	.alert {
	    padding: 0 1rem;
	}
	
}