<div class="container main-container">
	<div class="card card-camera">
		<h4 class="card-header"> {{'card_header_camera' | translate }}</h4>
		<div class="card-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col-2 text-right">
						{{'camera_mode' | translate }} : 
					</div>
					<div class="col-10">
						<button [hidden]="useFakeCamera" (click)="setCameraMode(true)" type="button" class="btn btn-success btn-sm">
							{{'real_camera' | translate }}
						</button>
						<button [hidden]="!useFakeCamera" (click)="setCameraMode(false)" type="button" class="btn btn-danger btn-sm">
							{{'fake_camera' | translate }}
						</button>
						<i class="fa fa-refresh fa-spin" [hidden]="!cameraModeWSLoading"></i> 
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-right">
						{{'camera_status' | translate }} : 
					</div>
					<div class="col-1">
						<span [hidden]="!cameraReady" class="status-ok client-status">
							<i class="fa fa-check-circle"></i>
						</span>
						<span [hidden]="cameraReady" class="status-nok client-status">
							<i class="fa fa-times-circle"></i>
						</span>
						<a (click)="getCameraStatus()" class="refresh-button"   > 
							<i class="fa fa-refresh" [ngClass]="{'fa-spin': cameraWSLoading }"></i> 
						</a>
					</div>
					<div class="col-9">
						<div class="camera-message alert" [ngClass]="{'alert-success': cameraReady  , 'alert-danger': !cameraReady }" >{{cameraMessage}}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-right">
						{{'raw_directory' | translate }} : 
					</div>
					<div class="col-6">
						<input type="text" [(ngModel)]="rawDir" class="form-control form-control-sm" />
					</div>
					<div class="col-4">
						<button (click)="refreshRawDir()" class="btn btn-primary btn-sm">
							{{ 'change' | translate}}
						</button>
						<i class="fa fa-refresh fa-spin" [hidden]="!rawDirLoading"></i> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card card-front">
		<h4 class="card-header"> {{'card_header_front' | translate }}</h4>
		<div class="card-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col-2 text-right">
						{{'ip_address' | translate }} : 
					</div>
					<div class="col-10">
						<span *ngIf="logger.frontEndAddress">
							<code>{{logger.frontEndAddress}}</code>
						</span>
						<span *ngIf="!logger.frontEndAddress" class="text-danger">
							{{'not_connected' | translate}}
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-right">
						{{ 'android_kioskapp' | translate}} :
					</div>
					<div class="col-2">
						<input type="text" [(ngModel)]="kioskAppUrl" class="form-control form-control-sm" />
					</div>
					<div class="col-8">
						<span [hidden]="!kioskAppReady" class="status-ok client-status">
							<i class="fa fa-check-circle"></i>
						</span>
						<span [hidden]="kioskAppReady" class="status-nok client-status">
							<i class="fa fa-times-circle"></i>
						</span>
						<a (click)="refreshKioskApp()" class="refresh-button"   > 
							<i class="fa fa-refresh" [ngClass]="{'fa-spin': kioskAppWSInfoLoading }"></i> 
						</a>
					</div>
				</div>
				<div class="row" [hidden]="!kioskAppReady">
					<div class="col-2">
					</div>
					<div class="col-10">
						{{ 'kioskapp_version' | translate}} : {{kioskAppVersion}}
					</div>
				</div>
				<div class="row" [hidden]="!kioskAppReady">
					<div class="col-2">
					</div>
					<div class="col-6">
						<input type="text"  [(ngModel)]="kioskAppBrowseUrl" class="form-control form-control-sm" />
					</div>
					<div class="col-4">
						<button (click)="browseUrl()" class="btn btn-primary btn-sm">
							{{ 'kioskapp_load_url' | translate}}
						</button>
					</div>
				</div>
				<div class="row" [hidden]="!kioskAppReady">
					<div class="col-2">
					</div>
					<div class="col-10">
						<button (click)="reloadUrl()" class="btn btn-primary btn-sm">
							{{ 'kioskapp_reload' | translate}}
						</button>
						<button (click)="exitFs()" class="btn btn-primary btn-sm">
							{{ 'kioskapp_exit_fs' | translate}}
						</button>
						<button (click)="enterFs()" class="btn btn-primary btn-sm">
							{{ 'kioskapp_enter_fs' | translate}}
						</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card card-webcam">
		<h4 class="card-header"> {{'card_header_webcam' | translate }}</h4>
		<div class="card-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col-2 text-right">
						{{'ip_address' | translate }} : 
					</div>
					<div class="col-10">
						<span *ngIf="logger.webcamAddress">
							<code>{{logger.webcamAddress}}</code>
						</span>
						<span *ngIf="!logger.webcamAddress" class="text-danger">
							{{'not_connected' | translate}}
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-right">
						{{'camera.mode' | translate }} : 
					</div>
					<div class="col-10">
						<span *ngIf="p2pStreamService.cameraMode == -1" class="text-danger">
							{{'camera.unknown_mode' | translate}}
						</span>
						<span *ngIf="p2pStreamService.cameraMode == 0">
							<code>{{'camera.local_mode' | translate}}</code>
						</span>
						<span *ngIf="p2pStreamService.cameraMode == 1">
							<code>{{'camera.remote_mode' | translate}}</code>
						</span>
						
					</div>
				</div>
				<div class="row">
					<div class="col-2 text-right">
					<label for="videoSource"> {{'camera.source' | translate}} : </label>
					</div>
					<div class="col-10">
						<div *ngIf="p2pStreamService.devices.length > 0">
							<select name="videoSource" [(ngModel)]="currentLocalDeviceId" >
								<option *ngFor="let mediaDevice of p2pStreamService.devices; let i = index" [value]="mediaDevice.deviceId" >  
								{{mediaDevice.label ? mediaDevice.label : ('camera ' + (i + 1)) }}
								</option>
							</select>
							<button [hidden]="!currentLocalDeviceId" (click)="p2pStreamService.playLocalDevice(currentLocalDeviceId)" class="btn btn-primary btn-sm">
								{{ 'camera.play' | translate}}
							</button>
						</div>
						<div *ngIf="p2pStreamService.devices.length == 0" class="text-danger">
							{{'camera.source_unavailable' | translate}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>