<video autoplay [srcObject]="currentStream"></video>

<div class="capture-area">
	<canvas id="displayCanvas"></canvas>
	<canvas id="getImgCanvas"></canvas>
	
	<div class="area-capture-control" *ngIf="currentCaptureState == captureState.waitForInput">
		<a class="capture-button" (click)="launchCountDown()">
			<i class="fa fa-camera"></i>
		</a>
		<div class="arrow-tip">
			<i class="fa fa-hand-o-up"></i>
		</div>
		<div class="bottom-message">
			{{ 'picture_button_help' | translate}}
		</div>
	</div>
	<div class="area-countdown" *ngIf="currentCaptureState == captureState.countDown">
		<div class="countdown">
			<div class="step-0" [ngClass]="{'active': currentStep === 0 }">{{ 'countdown_ready' | translate}}</div>
			<div class="step-1" [ngClass]="{'active': currentStep === 1 }">5</div>
			<div class="step-2" [ngClass]="{'active': currentStep === 2 }">4</div>
			<div class="step-3" [ngClass]="{'active': currentStep === 3 }">3</div>
			<div class="step-4" [ngClass]="{'active': currentStep === 4 }">2</div>
			<div class="step-5" [ngClass]="{'active': currentStep === 5 }">1</div>
		</div>
	</div>
	<div class="area-wait-img" *ngIf="currentCaptureState == captureState.waitForImage">
		TODO WAITING FOR IMG
	</div>
	<div class="area-display-img" *ngIf="currentCaptureState == captureState.displayPicture">
		<div id="cameraImage" [ngStyle]="{ 'background-image': 'url(' + capturedImage + ')'}">
		</div>
	</div>
	<div class="area-display-error" *ngIf="currentCaptureState == captureState.displayError">
		<i class="fa fa-exclamation-triangle"></i>
		<span class="error-message">
			{{ 'generic_error_message' | translate}}
		</span>
		<!--{{ 'restart' | translate}}-->
	</div>
</div>
