@import './app.common';

$capture-button-size: 150;
body {
	overflow: hidden;
}

.capture-background {
	background: #585858;
    height: 100%;
    width: 100%;
    position: absolute;
}

.bottom-message {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    text-shadow: 0 0 20px #000000;
    color: white;
    font-size: 55px;
    width: 100%;
    text-align: right;
    padding-right: 30px;
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));

}
.arrow-tip {
	position: fixed;
    /* bottom: 75px; */
    right: 60px;
    top: 65%;
    animation: shake 2s infinite;
    font-size: 80px;
    text-shadow: 0 0 10px #000000;
    color: white;
}

.capture-button {
    position: fixed;
    top: 50%;
    right: 25px;
	display: block;
	background: #ffffff;
	height: $capture-button-size + px;
	width: $capture-button-size + px;
	border-radius: ($capture-button-size / 2) + px;
	margin-top: (-$capture-button-size / 2) + px;
	text-align: center;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	.fa {
		line-height: $capture-button-size + px;
		font-size: ($capture-button-size / 2 ) + px;
	}
}


@keyframes shake {
	0%, 100% {transform: translateY(-5px);}
	80% {transform: translateY(20px);}

}

.area-wait-img {
	background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
}

.area-display-error {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.7);
	.error-panel {
		color: #CD2828;
		text-shadow: 0 0 1px #000000;
		position: absolute;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		&>.fa {
			display: block;
			font-size: 6em;
		}
		&>.restart-button {
			//display: block;
		}
		.error-message {
			font-size: 2em;
		}
	}
}

