.booth-button{
	background-image: linear-gradient(-3deg, #bbbbbb, #fff);
    color: #585858;
    font-size: 35px;
    font-family: inherit;
    padding: 10px 27px;
    border-radius: 10px;
    box-shadow: 0 5px 5px #191919;
    border: 1px solid black;
    margin: 15px;
}