$capture-button-size: 150;
body {
	overflow: hidden;
}
video {
	display: none;
}

.blurred {
	filter: blur(10px);
}
#displayCanvas {
	width: 100%;
	margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}
#getImgCanvas {
	display: none;
}

.bottom-message {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    text-shadow: 0 0 20px #000000;
    color: white;
    font-size: 55px;
    width: 100%;
    text-align: right;
    padding-right: 30px;
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));

}
.arrow-tip {
	position: fixed;
    /* bottom: 75px; */
    right: 60px;
    top: 65%;
    animation: shake 2s infinite;
    font-size: 80px;
    text-shadow: 0 0 10px #000000;
    color: white;
}

.booth-button{
	background-image: -webkit-linear-gradient(93deg, #bbbbbb, #fff);
    color: #585858;
    font-size: 35px;
    font-family: inherit;
    padding: 10px 27px;
    border-radius: 10px;
    box-shadow: 0 5px 5px #191919;
    border: 1px solid black;
    margin: 15px;
}

.countdown {
	&>div.active {

		opacity: 1;
	}

	&>div:not(.active) {
		opacity: 0;
		transform: scale(1.5);
		transition: all ease 1s;

	}

	&>div {
		position: fixed;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		/* color: #000000; */
		font-size: 250px;
		color: #ffffff;
		text-shadow: 0 0 5px #000000;
		height: 300px;
		line-height: 250px;
		width: 100%;
		text-align: center;

		transition: opacity ease 1s;
	}

}

.capture-button {
    position: fixed;
    top: 50%;
    right: 25px;
	display: block;
	background: #ffffff;
	height: $capture-button-size + px;
	width: $capture-button-size + px;
	border-radius: ($capture-button-size / 2) + px;
	margin-top: (-$capture-button-size / 2) + px;
	text-align: center;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	.fa {
		line-height: $capture-button-size + px;
		font-size: ($capture-button-size / 2 ) + px;
	}
}


@keyframes shake {
	0%, 100% {transform: translateY(-5px);}
	80% {transform: translateY(20px);}

}

.area-wait-img {
	background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
}

.area-display-img {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	#cameraImage {
		/*background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		height: 100%;*/
		width: 100%;
		height: auto;
		top: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
	}
	
	.countdown-print {
		top: 20px;
		right: -50%;
		position: absolute;
	}
	.capture-actions {
		width: 30%;
		height: 100%;
		position: absolute;
		right: -50%;
		margin-top: 100px;
		margin-left: -24px;
		text-align: center;
		.booth-button{
		    width: 75%;
		}
	}
	&.animate {
		#cameraImage {
			animation-name: display-image-anim;
			animation-duration: 2s;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
		.capture-actions, .countdown-print {
			animation-name: capture-actions-anim;
			animation-duration: 2s;
			animation-delay: 3s;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes display-image-anim {
	0% {
		width: 100%;
		left: 0;
		box-shadow: 0 0 0px #333333;
	}

	100% {
		width: 65%;
		left: 20px;
		top: 20px;
		bottom: auto;
		box-shadow: 0 0 10px #333333;
	}

}

@keyframes capture-actions-anim {
	0% {
		right: -50%;
	}
	100% {
		right: 20px;
	}
}

.area-display-error {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.7);
	.error-panel {
		color: #CD2828;
		text-shadow: 0 0 1px #000000;
		position: absolute;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		&>.fa {
			display: block;
			font-size: 6em;
		}
		&>.restart-button {
			//display: block;
		}
		.error-message {
			font-size: 2em;
		}
	}
}

