<div class="capture-area">
	<div class="capture-background"></div>
	<background-video 
	[blurred]="currentCaptureState == captureState.displayError || 
				currentCaptureState == captureState.waitForImage" 
	[hidden]="currentCaptureState == captureState.displayPicture || 
				currentCaptureState == captureState.printChoice">
	</background-video>
	
	<div class="area-capture-control" *ngIf="currentCaptureState == captureState.waitForInput">
		<a class="capture-button" (click)="launchCountDown()">
			<i class="fa fa-camera"></i>
		</a>
		<div class="arrow-tip">
			<i class="fa fa-hand-o-up"></i>
		</div>
		<div class="bottom-message">
			{{ 'picture_button_help' | translate}}
		</div>
	</div>
	<div *ngIf="currentCaptureState == captureState.countDown">
		<photo-countdown (onTriggerCapture)="capturePicture()" (onFinish)="waitCapture()"></photo-countdown>
	</div>
	<div class="area-wait-img" *ngIf="currentCaptureState == captureState.waitForImage">
		<div class="spinner"></div>
	</div>
	<div *ngIf="currentCaptureState == captureState.displayPicture">
		<photo-display [imgSrc]="capturedImage" (onRestart)="restart()" (onPrint)="displayPrintChoice()" ></photo-display>
	</div>
	<div *ngIf="currentCaptureState == captureState.printChoice">
		<print-choice [imgSrc]="capturedPrintableImage" (onCancel)="restart()" (onPrintChoice)="printPicture($event)" ></print-choice>
	</div>
	<div class="area-display-error" *ngIf="currentCaptureState == captureState.displayError">
		<div class="error-panel">
			<i class="fa fa-exclamation-triangle"></i>
			<span class="error-message">
				{{ 'generic_error_message' | translate}}
			</span>
			<br/>
			<button class="booth-button restart-button" type="button" (click)="reloadPage()">
				<i class="fa fa-repeat" aria-hidden="true"></i>
				{{ 'retry' | translate}}
			</button>
		</div>
	</div>
</div>
