<div class="container-fluid panel-webcam"  (window:resize)="onResize($event)">
	<div class="button-bar">
		<div class="button-refresh">
			<button type="button" class="btn btn-primary" (click)="requestCalibration()" [disabled]="loading" >{{'refresh_images' | translate}}</button>
		</div>
		<div class="button-save">
			<button type="button" class="btn btn-danger" (click)="storeCoords()" [disabled]="!cropper" >{{'store_calibration' | translate}}</button>
		</div>
		<div class="area-spinner">
			<i class="fa fa-refresh fa-spin" [hidden]="!loading"></i> 
		</div>
		<div class="area-feedback">
			<div class="alert alert-danger" [hidden]="!errorMsg">
				{{errorMsg}}
			</div>
			<div class="alert alert-success" [hidden]="!infoMsg">
				{{infoMsg}}
			</div>
		</div>
		
	</div>
	<div class="calibrate-images-wrapper">
		<div class="left-col" >
			<div id="imageCropper">
				<img [src]="webcamImgSrc" (load)="initCropper()" />
			</div>
		</div>
		<div class="right-col">
			<div id="croppedWebcamPreview" class="preview-image"></div>
			<div id="cameraImage"  class="preview-image" [ngStyle]="{ 'background-image': 'url(' + cameraImgSrc + ')'}">
			</div>
		</div>
	</div>
	
	<!--<div class="row">
		<div class="col-xs-8">
			<h4>{{'viewfinder' | translate}}</h4>
		</div>
		<div class="col-xs-4">
			<h4>{{'camera' | translate}}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			
		</div>
		<div class="col-xs-4">
			
		</div>
	</div>-->
</div>