.container {
	margin-top: 25px;
}
video {
	display: block;
	left: 0;
    right: 0;
    margin: auto;
}


.client-status {

	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
}

.client-connected {
	background: #5cb85c;
}

.client-disconnected {
	background: #d9534f;
}