$countdown-color : #ffffff;
$countdown-color-dark : #757575;

$light-color: #ffffff;
$dark-color: lighten(#000000, 20);

.countdown-circle {
	position: relative;
	//margin: 40px auto;
	margin: 5px;
    
    height: 60px;
    width: 60px;
    border-radius: 50%;
	&.light{
		border-top: 3px solid $light-color;
		border-bottom: 3px solid darken($light-color, 40);
		border-left: 3px solid darken($light-color, 40);
		border-right: 3px solid darken($light-color, 40);
		
	}
	&.dark{
		border-top: 3px solid $dark-color;
		border-bottom: 3px solid lighten($dark-color, 55);
		border-left: 3px solid lighten($dark-color, 55);
		border-right: 3px solid lighten($dark-color, 55);
		
	}
	
	&.animate{
		animation: rotate 2s ease-out infinite;
	}
}

.countdown-value {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: -60px;
	&.light {
		color: darken($light-color, 10);	
	}
	&.dark {
		color:  lighten($dark-color, 20);
	}
	
}


@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}