$countdown-color : #ffffff;
.countdown-wrapper {
	color: $countdown-color ;
}
.countdown-circle {
	position: relative;
	//margin: 40px auto;
	margin: 5px;
	
}

.countdown-value {
	width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

@mixin timer($item, $duration, $size, $bgColor, $thickness, $color) {
    //#{$item}, #{$item} * { @include box-sizing(border-box); }
	#{$item} .countdown-fg, #{$item} .countdown-fg * {
		box-sizing: border-box;
	}
	#{$item} {
		.countdown-fg { 
			width: $size / 2 ;
			height: $size ;
			left: $size / 2;
			
			background: transparent;
			overflow: hidden;	
			position: relative;
			
			.countdown-pie {
				width: $size/2;
				height: 100%;
				transform-origin: 100% 50%;
				position: absolute;
				right: $size/2;
				background: $bgColor;
				border: $thickness solid $color;
				border-right: none ;
				border-radius: 100% 0 0 100% / 50% 0 0 50%;
			}
			
			.countdown-spinner {
				z-index: 200;
			}
			
			.countdown-filler {
				visibility: hidden;
				z-index: 100;
				transform: rotate(180deg);
			}
		}
		.countdown-bg { 
			height: $size;
			width: $size;
			border: $thickness solid darken($color, 50%) ;
			border-radius: 50%;
			position: relative;
			top:-$size;
			left:0;
		}
	}
	
	#{$item}.animate {
		.countdown-fg {
			
			animation: mask $duration + s steps(1,end) infinite;
			
			.countdown-spinner {
				animation: rota $duration + s linear infinite;
			}
			
			.countdown-filler {
				animation: opa $duration + s steps(1,end) infinite;
			}	
		}
	} 

	
	
	@keyframes rota {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}

	@keyframes pos {
		50%, 100% { right: 0; }
	}	

	@keyframes opa {
		50%, 100% { visibility: visible; }
	}

	@keyframes mask {
		50%, 100% {
			width: $size; 
			left: 0;
		}
	} 
}

@include timer('.countdown-circle', 2, 60px, transparent, 4px, $countdown-color);